#packages
.meteor/*.un\~
packages

#node files
*.log
# Created by http://www.gitignore.io

 ### vim ###
 [._]*.s[a-w][a-z]
 [._]s[a-w][a-z]
 *.un\~
*.md\~
 Session.vim
 .netrwhist
 *\~
.*\~
*.js~
 ### Meteor ###
 .meteor/local
 .meteor/meteorite
.meteor/.id
.meteor/.finished-upgraders
