/* div.divchat{
    min-height: 200px;
    
    max-height: 600á¹•x;
    overflow-x: hidden;
    resize: none;
} */
html, body {height: 100%;}


div.container#chat-messages
{
    height:500px;
}
.container-fluid, .divchat, #content
{
    height:100%;
}
#chat-messages, .sidebar, .sidebar
{
    /*overflow-y: auto;*/
}
.online
{
    color: #18CE16;
}
.offline
{
    color:#7E7C7C;
}
.away
{
    color: #F2974C;
}
.busy
{
    color: #BB0019;
}
.unchecked{
    color: #7E7C7C;
}
.group-name{
    text-align:center;
}

/* @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.eot');
  src: url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/packages/bootstrap-3/bootstrap-3/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
 *//* body{
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right{
    float: right;
}
div.user{
    display: block;
}
div.register_form{
    width: 350px;
    display: none;
}
div.register_form input{
    width: 350px;
    display: block;
}
div.register_form label{
    height: 60px;
    display: block;
}
div.register_form label input{
    height: 25px;
}
div.divmessages div.message{
    display: block;
}

div.register_form label input{
    float:right;
}
div.login_form{
    display: block;
}
div.logoutdiv{
    display: block;
}

div.divmessages{
    padding: 5px;
    min-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
    background-color: #0B7A96;
    resize: both;
}
div.message:hover{
    background: #11748C;
}

label.stusername{
    font-family: Verdana;
    font-style: oblique;
    display: inline-block;
}
label.stusername:hover{
    font-color: #B9C065;
    background: #B9C065;
}
div.chatusers{
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

#message{
    height: 50px;
}
div.page-content{

}
div.chatroon-name{
    text-align: center;
}
 */

