html, body {height: 95%;}

* {
    padding: 0px;
    margin: 0px;
}
#chat_content
{
    height: 100%;
/*    background-color: #Ff4500; */
}
.container-fluid, .pusher, #layout, .yield_wraper, .divchat, #content
{
    height:100%;
}
.yield_wraper {
/*    margin: 14px;*/
}
div#chat-content {
    padding: 0px;
    height: 100%;
    margin: 0px;
}
div#chat-content div.ui.tab-content {
/*    margin-bottom: 0px;
    padding-bottom :0px;*/
    height: 100%;
    resize: both;
    clear: both;
    background-color: #DCDCDC;
}
.user-list {
    height: 100%;
    background-color: #Dcdcdc;
}
div#chat-tab {
/*    margin: 0px;
    /* margin-top: -20px;
    padding: 0px;*/
    resize: both;
}
div#chat-container {

}
#chat-messages, .sidebar, .sidebar
{
    overflow-y: auto;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#content_sticky {
    height: 100%;
}
div.chat-content {
    height: 100%;
}
dvi#chat-container {

}

li.message{
    cursor: pointer;
}
div#original-message {
    height: 100%;
}
/*.online
{
    color: #18CE16;
}
.offline
{
    color:#7E7C7C;
}
.away
{
    color: #F2974C;
}
.busy
{
    color: #BB0019;
}
.unchecked{
    color: #7E7C7C;
}*/
.danger:hover { background-color:#FF0000; }
.hidden { display:none; }
.ui.input.hidden { display:none; }
div.user label {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.divmessages{
    padding: 5px;
    min-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
    /*   background-color: #0B7A96;*/
    background-color: #Dcdcdc;
}
div#message-input {
    padding: 0px;
    margin: 0px;
 /*   margin-top: -3px;*/
    background-color: #Dcdcdc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
/*    height: 100%;
    width: 100%;*/
}
textarea#message {
 /*   background-color: #11748C;
    min-height: 2em;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
div.correction-setup div.form div textarea {
    min-height: 2em;
    max-height: 24em;
    height: 3em;
}

label.stusername:hover{
    font-color: #B9C065;
/*    background: #B9C065;*/
}
div.chatusers{
    overflow-y: scroll;
    overflow-x: hidden;
}
div.item div.menu > a.friends-contacts i.icon.user{
    float: left;
}
