<head>
	

</head>

<body>
	

</body>
<template name="chatrooms">
	<div class="dropdown visible-xs">
  		<a data-toggle="dropdown" href="#">
  			Menu
  			<span class=""></span>
		    <span class="caret"></span>
  		</a>
  		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  			{{> chatrooms_side}}
  		</ul>
  		
	</div>
			{{#if currentUser}}
				{{#if room}}
					<div class="chatroon-name row"><h4>{{room.name}}</h4></div>
					<div class="divchat row">
						<div class="row">
							<div class="chat-users col-xs-2" >
								{{> users_chatroom}}
							</div>
							<div class="chat col-xs-10">
								{{> chat}}
							</div>
						</div>
						<div class="chat-input row">
							<div class="col-xs-10 col-xs-offset-2">
								{{> chat_input}}
							</div>
						</div>
					</div>
				{{else}}
					erro?
				{{/if}}
			{{else}}
				<div class="chat col-xs-10 offset-2">
					{{mf 'noUser-chat' "You aren't logged in. Please, log in to use all the features of the site."}}
				</div>
			{{/if}}
	{{#if correct}}
		{{> correctiontools}}
	{{/if}}
</template>



<!--
chat side menu
-->

<template name="chatrooms_side">
	<div class="panel-group" id="collapse">
		<div class="chatrooms row panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="panel-rooms" data-toggle-to="panel-rooms" data-toggle="collapse" data-parent="#accordion" href="#">{{mf 'public_rooms' 'Public chat rooms'}}:</a>
				</h4>
			</div>
			<div class="panel-collapse collapse in" id="panel-rooms">
				<ul class="nav nav-pills nav-stacked">
					{{#each rooms}}
						<li><a href="#" class="chat-room {{roomactive room=_id}}" id="{{_id}}" >{{name}}</a></li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="chatrooms row panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="panel-rooms" data-toggle-to="panel-groups" data-toggle="collapse" data-parent="#accordion" href="#">{{mf 'group_chats' 'Group Chat rooms'}}:</a>
					<span class="btn-group xs">
						<span id="add-find-chat" class="plus glyphicon glyphicon-plus btn btn-default" title="add/find a chat group"></span>
					</span>
					{{#if find_chat_group}}
						{{> group_chat_finder}}
					{{/if}}
				</h4>
			</div>
			<div class="panel-collapse collapse in" id="panel-groups">
				<ul class="nav nav-pills nav-stacked">
					{{#each group_rooms}}
						<li>
							<a  href="#" class="chat-group" id="{{_id}}" >{{name}}</a>
							<span class="chat glyphicon glyphicon-comment"><span class="badge">42</span></span>
							{{#if requests.total}}
								<span class="conf btn btn-default" style="background: glyphicon glyphicon-wrench">
									<span class="badge">{{requests.total}}</span>
								</span>
							{{/if}}
							
						</li>
					{{/each}}
				</ul>
			</div>
		</div> 
		<div class="chatrooms row panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="panel-rooms" data-toggle-to="panel-friends" data-toggle="collapse" data-parent="#accordion" href="#">{{mf 'friends_contacts' 'Friends/Contacts'}}:</a>
					<span class="btn-group-xs">
						<span id="add-find-user" class="plus glyphicon glyphicon-plus btn btn-default" title="add/find a contact"></span>
					</span>
				</h4>
			</div>
			<div class="panel-collapse collapse out" id="panel-friends">
				<ul class="nav nav-pills nav-stacked">
					{{#each myUsersList}}
						<li><a href="#" class="friends-contacts" id="{{_id}}" >{{name}}</a></li>
					{{/each}}
				</ul>
			</div>
			{{#if user_finder}}
				pronto

				{{> user_finder_modal}}

			{{/if}}

		</div>
	</div>
</template>

<template name="chatrooms_side_xs">
	<div class="panel-group" id="collapse">
		<div class="chatrooms row panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="menu-handle" data-toggle="collapse" data-parent="#accordion" href="#panel-rooms">Public chat rooms:</a>
				</h4>
			</div>
			<div class="panel-collapse collapse in" id="panel-rooms">
				<ul class="nav nav-pills navebar-inverse nav-stacked">
					{{#each rooms}}
						<li><a href="#" class="roombutton" id="{{room}}" >{{room}}</a></li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="chatrooms row panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="menu-handle" data-toggle="collapse" data-parent="#accordion" href="#panel-groups">Group Chat rooms:</a>
				</h4>
			</div>
			<div class="panel-collapse collapse in" id="panel-groups">
				{{#each group_rooms}}
					<div class=''><input class="roombutton col-xs-12" type="button" value="{{room}}" id="{{room}}" /></div>
				{{/each}}
			</div>
		</div>
		<div class="chatrooms row panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="menu-handle" data-toggle="collapse" data-parent="#accordion" href="#panel-friends">Friends/Contacts:</a>
				</h4>
			</div>
			<div class="panel-collapse collapse out" id="panel-friends">
				{{#each myUsersList}}
					<div class=''><label class="usercontacts col-xs-12" id="{{user._id}}"> {{user.name}}</label></div>
				{{/each}}
			</div>
		</div>
	</div>
</template>

<!-- side menu's modals -->

<!-- find/create group -->
<template name="group_chat_finder">
	<div class="modal fade row" id="group-chat-finder-modal" tabindex="-1" role="dialog" aria-labelledby="group-chat-finder-ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="group-chat-finder-ModalLabel">{{mf 'find-create' 'Find/Create'}}</h4>
	      		</div>
	    		<div class="modal-body container"><!--content here-->
	        		<div clas="find-creat-tool row"> 
						<form action="submit" class="group-finder col-xs-7" id="find-create-form">
							<ul class="nav nav-pills">
								<li><a href="#" class="btn btn-default find-create active" id="find">{{mf 'find' 'Find'}}</a></li>
								<li><a href="#" class="btn btn-default find-create" id="create">{{mf 'create' 'Create'}}</a></li>
							</ul>
							<div class="panel panel-group">
								{{#if find}}
									{{> find_group}}
								{{else}}
									{{> create_group}}
								{{/if}}
							</div>
						</form>
					</div>
	    		</div>
			    <div class="modal-footer">
			    	<input type="button" class="btn btn-default" id="crrbutton_close" data-dismiss="modal" value="{{mf 'close'}}" />
			        <input type="button" class="btn btn-primary" id="find-create-btn" value="{{mf 'find'}}" />
			    </div>
	    	</div>
		</div>
	</div>
</template>

<template name="find_group">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Group name" id="group-name-f" />
	</div>
	<div class="groups">
		{{#each group}}
			<div class="group" id="{{_id}}">
				<h4>{{name}} <span class="send-request plus glyphicon glyphicon-plus btn btn-default" id="{{_id}}"></span> </h4>
				Owner:<label id="owner._id"> {{owner.profile.name}} </label>
				<div class="group row panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="panel-group" data-toggle-to="panel-group" data-toggle="collapse" data-parent="#accordion" href="#">{{mf 'details' 'Details'}}:</a>
						</h4>
					</div>
					<div class="panel-collapse collapse out" id="panel-group">
						<p class="group" id="{{_id}}" >	{{details}}</p>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</template>
<template name="create_group">
	<div class="form-group panel-deafult">
		<label for="group">{{mf 'name'}}:</label>
		<input type="text" class="form-control" placeholder="Group name" id="group-name-c" />
	</div>
	<div class="info panel-group">
		<div class="panel-heading">
			<h4>{{mf 'details' 'Details'}}</h4>
		</div>
		<div class="form-group panel">
			<label for="info">{{mf 'description' 'Description'}}</label>
			<div id="info">
				<label for="type">{{mf 'type' 'Type'}}:</label>
				<div id="type">
					<label for="opengroup">{{mf 'open_group' 'Open group'}} </label><input type="radio" name="grouptype" id='opengroup' class='group-type'>
					<label for="invetegroup">{{mf 'part_request' 'Participation request'}}</label><input type="radio" name="grouptype" id='invetegroup' class='group-type'>
					<label for="indication">{{mf 'memb_indication' 'Members indicatioin'}}</label><input type="radio" name="grouptype" id='indication' class='group-type'>
				</div>
				<label for="genre">{{mf 'group_genre' 'Group Genre'}}</label>
				<div id="genre">
					<label for="education">{{mf 'education' 'Education'}} </label><input type="checkbox" name="groupgenre" id='education' class='group-type'>
					<label for="music">{{mf 'music' 'Music'}}</label><input type="checkbox" name="groupgenre" id='music' class='group-type'>
					<label for="sports">{{mf 'sports' 'Sports'}}</label><input type="checkbox" name="groupgenre" id='sports' class='group-type'>
				</div>
				<input type="text" class="form-control" id="description" placeholder=""  />
				<div class="form-group panel panel-defaul">
					<label for="lang">{{mf 'allowed_langs' 'Allowed Languages'}}</label>
					
					<select name="lang" id="" class="lang">
						<option value="0">{{mf 'select_one' 'Select One'}}</option>
						{{#each langs}}
							<option value="{{_id}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<label for="invitemembers"></label>
			<div id="invitemembers">
				Contacts
				Friends
				Find
			</div>
		</div>
	</div>
</template>


<!-- user finder -->


<!-- chat room -->
<template name="users_chatroom">
	<div class="chatusers row">
		<label class="col-xs-12">{{mf 'users' 'Users'}}:</label>
		{{#each chat_users}}
			<label class="username col-xs-12" id="{{user._id}}">{{user.profile.name}}</label>
		{{/each}}
	</div>
</template>

<template name="chat">
	<div class="divmessages col-xs-12">
		{{#if messages}}
			{{#each messages}}
				<div class="message" id="{{_id}}">
					<label class="username stusername" id="{{userid}}">{{name}}:</label> 
					{{message}}

					{{> messagem_corrected_button}}
				</div>
			{{/each}}
		{{/if}}
	</div>
</template>
<template name="messagem_corrected_button">
	<span class=" btn-group-xs">
		<button type="button" class="correctionWraper btn btn-default" data-container="body" data-toggle="popover" data-placement="left">
	  		<span class="glyphicon glyphicon-saved"></span>
		</button>
	</span>
</template>

<template name="chat_input">
	<label class="col-xs-12"><div class="col-sm-2 hidden-xs">{{mf 'message' 'Message'}}: </div><textarea id="message" class="col-sm-10 col-xs-12" > </textarea></label>
</template>







<!-- tools -->
<template name="correctiontools">
	
		<div class="modal fade row" id="correctionModal" tabindex="-1" role="dialog" aria-labelledby="correctionModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="correctionModalLabel">{{mf 'correction' 'Correction'}}</h4>
		      </div>
		      <div class="modal-body container"><!--content here-->
		        <div clas="corretiontool col-xs-12"> 
					<h2>Source:</h2>
					<div class="col-sm-4 panel panel-default">
						<span class="source" id="{{sourceid}}">{{source.text}}</span>
					</div>
					
					<div class="panel-default panel col-sm-4">
						<ul class="nav nav-pills row">
							<li class="{{activeop1}}"><a href="#">op1</a></li>
							<li class="{{activeOp2}}"><a href="#">op2</a></li>
							<li class="{{activeOp3}}"><a href="#">op3</a></li>
							<li class="{{activeOp4}}"><a href="#">op3</a></li>
							<li class='dropdown {{activeOp5}}'><a href="#">op5</a></li>
						</ul>
						<form class="form-correction" role="form">
							<textarea class="correction form-control" id="{{correctionid}}">{{source.text}}</textarea>
							<div class="panel panel-default row">
								<div class="input-group">
									<span class="input-group-addon">{{mf 'E' 'E'}}</span> 
									<input class="form-control expl" type="text" placeholder="{{mf 'explanation' 'Explanation'}}"> 
									<span class="plus glyphicon glyphicon-plus input-group-addon"></span>
								</div>
								<div class="input-group">
									<span class="input-group-addon">{{mf 'A' 'A'}}</span> 
									<input class="form-control alt-input-f" type="text" placeholder="{{mf 'word_sentence' 'word/expretion'}}" />
									<input class="form-control alt alt-input-e" type="text" placeholder="{{mf 'alternative' 'Alternative'}}"> 
									<span class="plus glyphicon glyphicon-plus input-group-addon"></span>
								</div>
								<div class="input-group">
									<span class="usage input-group-addon">{{mf 'U' 'U'}}</span> 
									<input class="form-control usage-input-f" type="text" placeholder="{{mf 'word_sentence' 'word/expretion'}}" />
									<input class="form-control usage-input-e" type="text" placeholder="{{mf 'usage' 'Usage'}}" container="body"> 
									<span class="plus glyphicon glyphicon-plus input-group-addon"></span>
								</div>
							</div>
						</form>
					</div>
					
				</div>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-default" id="crrbutton_close" data-dismiss="modal">{{mf 'close'}}</button>
		        <button type="button" class="btn btn-primary" id="crrbutton_save">{{mf 'save-correction' 'Save correction'}}</button>
		    </div>
		    </div>
		  </div>
		</div>
</template>

<template name="translationtools">

</template>
<!--
_id
	"A2EggWM4y9LQKPba6"
	
profile
	Object { name="elias", lastname="moura"}

_id
	"ddxhhoTQsH9LuafHn"
	
emails
	[Object { address="jao@j.com", verified=false}]
	
profile
	Object { name="jão", lastname="j"}


_id
	"gSNy5oSE34D5fathm"
	
profile
	Object { name="mmm", lastname="nnn"}

-->