<head>
</head>

<body>

</body>
<template name="chatrooms">
    <div class="chatroon-name sixteen wide column row">
        <h3 class="ui header">{{room.name}}</h3>
    </div>
    <div class="sixteen wide column row">
        <div class="ui grid">
            <div class="two wide column" >
                {{> users_chatroom}}
            </div>
            <div class="divmessages fourteen wide column" id="chat-messages">
                {{> chat}}
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui grid">
            <div class="two wide column">
            </div>
            <div class="fourteen wide column">
                {{> chat_input}}
            </div>
        </div>
    </div>
	{{#if correct}}
	{{> correctiontools}}
	{{/if}}
</template>



<!--
chat side menu
-->

<template name="chatrooms_side">
	<div class="chatroom-menu ui left vertical visible inverted labeled icon sidebar menu">
        <div class="item">
            <i class="world icon"></i><a class="" href="#">{{mf 'public_rooms' 'Public rooms'}}:</a>
            <div class="menu" id="panel-rooms">
                {{#each rooms}}
                    <a href="#" class="item chat-room {{#if active}}active{{/if}}" id="{{_id}}" >{{name}}</a>
                {{/each}}
            </div>
        </div>
        <div class="item">
            <i class="community icon"></i><a class="panel-rooms" href="#">{{mf 'group_chats' 'Groups'}}:</a>
            <span id="add-find-chat" class="plus icon" title="{{mf 'add-find-group' 'Add/Find a chat group'}}"></span>
            <div class="menu" id="panel-groups">
                {{#each group_rooms}}
                    <a  href="#" class="item chat-group {{#if active}}active{{/if}}" id="{{_id}}" >
                        {{name}}
                                {{> groupmenu}}
                    </a>
                {{/each}}
            {{#if group_handler.active}}
                {{> group_handler}}
            {{/if}}
            </div> 
        </div>
        <div class="item">
            <i class="user icon"></i><a class="" href="#">{{mf 'friends_contacts' 'Contacts'}}:</a>
            <span id="add-find-user" class="plus icon" title="add/find a contact"></span>
            <div class="menu" id="panel-friends">
                {{#each contacts}}
                    <a href="#" class="friends-contacts username item" data-toggle="context" data-target="#user_contextmenu" id="{{_id}}" >
                        <span class="user icon {{#if status.online}}online{{else}}offline{{/if}}" title="{{profile.status}}"> </span>
                        {{profile.name}} 
                        {{#if notification}}
                        <span class="chat friends-contacts-noti label icon">{{notification}}</span> 
                        {{/if}}
                    </a>
                {{/each}}
            </div>
        </div>
        {{#if find_user}}

        {{> user_finder_modal}}

        {{/if}}
	</div>
</template>
<!-- chat room -->
<template name="users_chatroom">
    <div class="ui list">
        <div class="item">
            <h4 class="ui header">{{mf 'users' 'Users'}}:</h4>
        </div>
        <div class="item">
            <div class="list">
                {{#each chat_users}}
                    <div class="user item" id="{{_id}}">
                        <label>
                        <i class="user icon {{#if status.online}}online{{else}}offline{{/if}}" title="{{profile.status}}"></i>
                        <a href="#">{{profile.name}}</a>
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="chat">
    <div class="ui celled list">
		{{#each messages}}
		<li class="message item" id="{{_id}}">
			<a class="username" href="#" id="{{userid}}">{{name}}:</a> {{message}}
			{{#if corrections}}
				<!-- {{> messagem_corrected_button}} -->
			{{/if}}
		</li>
		{{/each}}
    </div>
</template>
<template name="messagem_corrected_button">
	<span class=" btn-group-xs">
		<button type="button" class="correctionWraper btn btn-default" data-container="body" data-toggle="popover" data-placement="left">
			<span class="glyphicon glyphicon-saved"></span>
		</button>
	</span>
</template>

<template name="chat_input">
<div class="ui form">
    <div class="field">
        <textarea name="textareamessage" id="message" value="" placeholder="{{mf 'message' 'Message'}}" rows="2" class="ui input" > </textarea>
    </div>
</div>
</template>






<!-- tools -->
<template name="correctiontools">
	<div class="modal fade row" id="correctionModal" tabindex="-1" role="dialog" aria-labelledby="correctionModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="correctionModalLabel">{{mf 'correction' 'Correction'}}</h4>
				</div>
				<div class="modal-body"><!--content here-->
					<div clas="corretiontool "> 
						<div class=" panel panel-default">
						<div class="panel-heading"><h2 class="panel-title">Source:</h2></div>
						<div class="panel-body">
							<div class="source" id="{{sourceid}} " row="4">{{source.text}}</div>
						</div>
						</div>

						<div class="panel-default panel ">
							<ul class="nav nav-pills row">
								<li class="{{activeop1}}"><a href="#">op1</a></li>
								<li class="{{activeOp2}}"><a href="#">op2</a></li>
								<li class="{{activeOp3}}"><a href="#">op3</a></li>
								<li class="{{activeOp4}}"><a href="#">op3</a></li>
								<li class='dropdown {{activeOp5}}'><a href="#">op5</a></li>
							</ul>
							<form class="form-correction" role="form">
								<textarea class="correction form-control" id="{{correctionid}}">{{source.text}}</textarea>
								<div class="panel panel-default ">
									<div class="input-group">
										<span class="input-group-addon">{{mf 'E' 'E'}}</span> 
										<input class="form-control expl" type="text" placeholder="{{mf 'explanation' 'Explanation'}}"> 
										<span class="plus glyphicon glyphicon-plus input-group-addon"></span>
									</div>
									<div class="input-group">
										<span class="input-group-addon">{{mf 'A' 'A'}}</span> 
										<input class="form-control alt-input-f" type="text" placeholder="{{mf 'word_sentence' 'word/expretion'}}" />
										<input class="form-control alt alt-input-e" type="text" placeholder="{{mf 'alternative' 'Alternative'}}"> 
										<span class="plus glyphicon glyphicon-plus input-group-addon"></span>
									</div>
									<div class="input-group">
										<span class="usage input-group-addon">{{mf 'U' 'U'}}</span> 
										<input class="form-control usage-input-f" type="text" placeholder="{{mf 'word_sentence' 'word/expretion'}}" />
										<input class="form-control usage-input-e" type="text" placeholder="{{mf 'usage' 'Usage'}}" container="body"> 
										<span class="plus glyphicon glyphicon-plus input-group-addon"></span>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="crrbutton_close" data-dismiss="modal">{{mf 'close'}}</button>
					<button type="button" class="btn btn-primary" id="crrbutton_save">{{mf 'save-correction' 'Save correction'}}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="translationtools">

</template>
<!--
_id
	"A2EggWM4y9LQKPba6"
	
profile
	Object { name="elias", lastname="moura"}

_id
	"ddxhhoTQsH9LuafHn"
	
emails
	[Object { address="jao@j.com", verified=false}]
	
profile
	Object { name="jão", lastname="j"}


_id
	"gSNy5oSE34D5fathm"
	
profile
	Object { name="mmm", lastname="nnn"}

-->
<template name="public_room_finder">
	<div class="modal fade" id="public-room-finder-modal" tabindex="-1" role="dialog" aria-labelledby="public-room-finder-ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="public-room-finder-ModalLabel">{{mf 'find-create' 'Find/Create'}}</h4>
				</div>
				<div class="modal-body"><!--content here-->
					<div clas="find-tool"> 
						<form action="submit" class="public-room-finder" id="public-room-find-form">
							
							<div class="panel panel-group">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Group name" id="group-name-f" />
								</div>
								<div class="rooms list-group">
									<ul class="list-group-item">
										{{#each rooms}}
										<li class="{{#if active}}active{{/if}}">
											<a href="#" class="chat-room" id="{{_id}}" >{{name}}</a><span class="send-request plus glyphicon glyphicon-plus btn btn-default" id="{{_id}}"></span> 
										</li>
										{{/each}}
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" id="crrbutton_close" data-dismiss="modal" value="{{mf 'close'}}" />
					<input type="button" class="btn btn-primary" id="find-create-btn" value="{{mf 'find'}}" />
				</div>
			</div>
		</div>
	</div>
</template>
