<template name="messagem_corrected_button">
  <span class=" btn-group-xs">
    <button type="button" class="correctionWraper btn btn-default" data-container="body" data-toggle="popover" data-placement="left">
      <span class="glyphicon glyphicon-saved"></span>
    </button>
  </span>
</template>
<template name="correction_button">
  <button class="correction-button ui small button">t</button>
</template>
<template name="basic_correction_tool">
  <div class="content correction-setup">
    <div class="ui form">
    <div class="ui action input">
      <button class="ui button correction-button hidden" title="{{mf 'full-tool' 'Show full correction tool'}}">t</button>
      <textarea class="" >{{message}}</textarea>
    </div>
    </div>
  </div>
</template>
<template name="correction_tool">
  <div clas="corretiontool ">
    <div class="">
      <ul class="ui horizontal menu">
        <li class="{{activeop1}} item"><a href="#">op1</a></li>
        <li class="{{activeOp2}} item"><a href="#">op2</a></li>
        <li class="{{activeOp3}} item"><a href="#">op3</a></li>
        <li class="{{activeOp4}} item"><a href="#">op3</a></li>
        <li class='dropdown {{activeOp5}} item'><a href="#">op5</a></li>
      </ul>
      <form class="form-correction ui form" role="form">
        <div class="ui grid">
        <div class="ui eight wide column" id="original-message">
          <div class="ui items">
            <div class="item middle aligned" id="{{modal_handler.id}} " row="4">{{modal_handler.text}}</div>
          </div>
        </div>
        <div class="ui eight wide column">
          <textarea class="correction form-control" id="{{modal_handler.id}}">{{modal_handler.text}}</textarea>
        </div>
        <div class="ui sixteen wide column">
          <div class="ui action input">
            <button  class="ui button">{{mf 'E' 'E'}}</button>
            <input class="form-control ui input" type="text" placeholder="{{mf 'explanation' 'Explanation'}}">
            <span class="plus glyphicon glyphicon-plus input-group-addon"></span>
          </div>
          <div class="ui action input">
            <span class="ui button">{{mf 'A' 'A'}}</span>
            <input class="form-control alt-input-f ui input" type="text" placeholder="{{mf 'word_sentence' 'word/expretion'}}" />
            <input class="form-control alt alt-input-e ui input" type="text" placeholder="{{mf 'alternative' 'Alternative'}}">
            <span class="plus glyphicon glyphicon-plus input-group-addon"></span>
          </div>
          <div class="ui action input">
            <span class="ui button">{{mf 'U' 'U'}}</span>
            <input class="form-control usage-input-f ui input" type="text" placeholder="{{mf 'word_sentence' 'word/expretion'}}" />
            <input class="form-control usage-input-e ui input" type="text" placeholder="{{mf 'usage' 'Usage'}}" container="body">
            <span class="plus glyphicon glyphicon-plus input-group-addon"></span>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</template>
