<template name="modal_handler">
<div class="ui modal" id="modal-handler">

    <div class="header">
    <i class="close icon"></i>
      <h4 class="header" id="group-handler-ModalLabel">{{modal_handler.modal_header}}</h4>
    </div>
    <div class="content"><!--content here-->
        {{#if modal_handler.login}}
            {{> login_form}}
        {{/if}}
        {{#if modal_handler.email}}
            {{> emails}}
        {{/if}}
        {{#if modal_handler.notification}}
            {{> notification}}
        {{/if}}
        {{#if modal_handler.user_overview}}
            {{#with modal_handler.user_overview.data}}
                {{> user_profile}}
            {{/with}}
      {{/if}}
      {{#if modal_handler.correction}}
      {{> correction_tool}}
      {{/if}}
    </div>
    <div class="actions">
        <input type="button" class="ui button deny" id="crrbutton_close" data-dismiss="modal" value="{{mf 'close'}}" />
        {{#if modal_handler.login}}
        <input type="button" class="ui button approve" id="crrbutton_close" data-dismiss="modal" value="{{mf 'login'}}" />
        {{/if}}
        {{#if modal_handler.correction}}
        <input type="button" class="ui button approve" id="crrbutton_close" data-dismiss="modal" value="{{mf 'login'}}" />
        {{/if}}
    </div>
</div>
</template>

<template name="group_modal">
        <div class="group-handler">
            <div class="ui top attached tabular menu">
                <a href="#" class="item {{#if modal_handler.overview.active}}
                active{{/if}}" data-tab="overview" id="overview">{{mf 'overview' 'Overview'}}</a>
                <a href="#" class="item {{#if modal_handler.member_list.active}}
                active{{/if}}" data-tab="member-list" id="member_list">{{mf 'member-list' 'Member list'}}</a>
            </div>
        </div>
        <div class="ui bottom attached tabular segment" data-tab="overview">
        {{#if modal_handler.group_overview.active}}
            {{> group_overview}}
        {{/if}}
        </div>
        <div class=" ui bottom attached tabular segment" data-tab="member_list">
        {{#if modal.member_list.active}}
        {{/if}}
        </div>

</template>
