<template name="search">
    <div class="item ui fluid category search">
        <div class="ui icon input">
            <input type="text" id="search" class="prompt" placeholder="Search">
            <i class="search link icon"></i>
        </div>
        <div class="results"></div>
    </div>
    {{> flashMessages}}
</template>
<template name="search_results">
    <div class="dropdown-menu" aria-labelledby="search" tabindex="-1">
         <div class="menuitem">
            Groups:
            <ul class="list-group">
            {{#each search_results.groups}}
            <a href="#" id="{{this._id}}" class="list-group-item" name="group" >{{this.name}}</a>
            {{/each}}
            </ul>
        </div>
       <div class="menuitem">
            Users:
            <ul class="list-group">
            {{#each search_results.users}}
            <a href="#" id="{{this._id}}" class="list-group-item" name="user" >{{this.profile.name}} {{this.profile.lastname}}</a>
            {{/each}}
            </ul>
        </div>
    </div>
</template>
