<template name="user-profile">
	User info!
</template>

<template name="user-side">
	Side bar, User!
</template>

<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul> -->

<template name="user">
		{{#if user}}
				<a id="user" class="dropdown-toggle" href="#" data-toggle="dropdown" >
					{{user.profile.name}}
					<span class="badge">{{notifications.total}}</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/user/{{user._id}}">{{mf 'profile' 'Profile'}}</a></li>
					<li><a href="/user/{{user._id}}/messages">
						{{mf 'email' 'Email'}} <span class="badge">{{notifications.newMessages}}</span></a>
					</li>
					<li><a href="#" id='notification'>{{mf 'notification' 'Notifications'}} <span class="badge">{{notifications.requests.total}}</span></a></li>
					<li class="divider"></li>
					<li><a href="#" id="logoutButton">{{mf 'log_out' 'Log out'}}</a></li>
				</ul>
		{{else}}
				<a id="login" class="dropdown-toggle" href="#" data-toggle="dropdown" >
					{{mf 'sign_in' 'Sign in'}}
					<span class="caret"></span>
				</a>
			{{#if login}}
				{{> login_form}}
			{{else}}
				{{> register_form}}
			{{/if}}
		{{/if}}

		{{#if notifications.requests}}
			{{>notification}}
		{{/if}}
		{{#if add_user}}
		{{> request_friendship}}
		{{/if}}
		{{#if user_modal}}
			{{> user_modal}}
		{{/if}}
</template>


<template name="notification">
	<div class="modal fade row" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
		    	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title" id="registerModalLabel">{{mf 'notifications'}}</h4>
		    	</div>
		    	<div class="modal-body"><!--content here-->
		        	{{#each notifications.requests.friendship}}
			        	<div class="friend-request">
			        		<label for="" class="username">{{user.profile.name}} {{user.profile.lastname}}:</label>
			        		<span id="">{{message}} </span>
			        		<input type='button' class="acept btn btn-primary" id="{{request}}" value="{{mf 'acept' 'Acept'}}"/>
			        		<input type="button" class="deny btn btn-default" id="{{request}}" value="{{mf 'deny' 'Deny'}}" />
			        		<input type="text" value="{{type.type}}" class="request-type{{request}} hide"/>
			        	</div>
			        {{/each}}
			        {{#each notifications.requests.participation}}
			        	<div class="friend-request">
			        		<label for="" class="username">{{user._id}} {{user.profile.lastname}}:</label>
			        		<span id="">{{group.message}} {{group.type}} </span>
			        		<input type='button' class="acept btn btn-primary" id="{{group._id}}" value="{{mf 'acept'}}" />
			        		<input type="button" class="deny btn btn-default" id="{{group._id}}" value="{{mf 'deny' }}" />
			        		<input type="text" value="{{group.type}}" class="request-type{{group._id}} hide"/>
			        	</div>
			        {{/each}}
			        {{#each notifications.requests.invitation}}
			        	<div class="friend-request">
			        		<label for="" class="group">{{name}}:</label><span id="">{{message}} </span>
			        		<input type='button' class="acept btn btn-primary" id="{{_id}}" value="{{mf 'acept'}}"/>
			        		<input type="button" class="deny btn btn-default" id="{{_id}}" value="{{mf 'deny'}}" />
			        		<input type="text" value="{{group.type}}" class="request-type{{group._id}} hide"/>
			        	</div>
			        {{/each}}
		    	</div>
		    	<div class="modal-footer">
		    		<button type="button" class="btn btn-primary" id="notification_close" data-dismiss="modal">{{mf 'close'}}</button>
		    	</div>
		    </div>
		</div>
	</div>
</template>

<template name="user_finder_modal">
	<div class="modal fade" id="user-finder-modal" tabindex="-1" role="dialog" aria-labelledby="user-finder-ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title" id="group-chat-finder-ModalLabel">{{mf 'find-user' 'Find user'}}</h4>
	      		</div>
	    		<div class="modal-body"><!--content here-->
		        	<div class="panel panel-default">
		        		<div clas="user-finder-tool panel panel-default">
		        			<form action="submit" class="user-finder " id="user-finder-form">
								<div class="">
									<div class="form-user-finder">
										<input type="text" class="form-control" placeholder="{{mf 'user-name' 'User name'}}" id="user-name-f" />
									</div>
								</div>
							</form>
						</div>
						{{> user_finder}}
					</div>
	    		</div>
			    <div class="modal-footer">
			    	<input type="button" class="btn btn-default" id="user-finder-btn-close" data-dismiss="modal" value="{{mf 'close'}}" />
			        <input type="button" class="btn btn-primary" id="user-finder-btn" value="{{mf 'find'}}" />
			    </div>
	    	</div>
		</div>
	</div>
</template>

<template name="user_finder">
	<div class="users-found panel panel-default">
		{{#each user_found}}
			<div class="user-found" id="{{_id}}">
				<h4>{{profile.name}} {{profile.lastname}}<span class="send-request plus glyphicon glyphicon-plus btn btn-default" id="{{_id}}"></span> </h4>
				<!--Owner:<label id="owner._id"> {{owner.profile.name}} </label>-->
				<div class="group panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="panel-group" data-toggle-to="panel-group" data-toggle="collapse" data-parent="#accordion" href="#">{{mf 'details' 'Details'}}:</a>
						</h4>
					</div>
					<div class="panel-collapse collapse out" id="panel-group">
						<p class="group" id="{{_id}}" >	{{details}}</p>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</template>


<template name="request_friendship">
	<div id="request-friendship-modal" class="modal fade modal-request-friendship" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="group-chat-finder-ModalLabel">{{mf 'add-user' 'Add contact'}}</h4>
			</div>
		    <div class="modal-content">
		    	<form action="submit" id="request-friendship-form">
		    		<textarea name="request-friendship" id="request-friendship-msg" class="form-control" rows="10" placeholder="{{mf 'msg' 'Message'}}"></textarea>
		    		<div>
		    			<input type="radio" name="request-friendship-radio" id="request-friendship-check-friend">
		    			<label for="request-friendship-check-friend">{{mf 'friend' 'Friend'}}</label>
		    			<input type="radio" name="request-friendship-radio" id="request-friendship-check-contact">
		    			<label for="request-friendship-check-contact">{{mf 'contact' 'contact'}}</label>
		    			<input type="checkbox" name="request-friendship-check" id="request-friendship-check-teacher">
		    			<label for="request-friendship-check-teacher">{{mf 'teacher' 'Teacehr'}}</label>
		    			<input type="checkbox" name="request-friendship-check" id="request-friendship-check-student">
		    			<label for="request-friendship-check-student">{{mf 'student' 'Student'}}</label>

		    		</div>
		    	</form>
		    </div>
		     <div class="modal-footer">
		    	<input type="button" class="btn btn-default" id="request-friendship-btn-close" data-dismiss="modal" value="{{mf 'close'}}" />
		        <input type="button" class="btn btn-primary" id="request-friendship-btn" value="{{mf 'send'}}" />
		    </div>
		</div>
	</div>	
</template>
<template name="user_modal">
	<div id="user-modal" class="modal fade in modal-user" tabindex="-1" role="dialog" aria-labelledby="user-ModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		    	<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="user-ModalLabel">{{user_modal.action}}</h4>
				</div>
				<div class="modal-body">
					{{#if user_modal.add}}
						{{> user_invite_request}}
					{{/if}}
					{{#if user_modal.send_email}}
						{{> send_email}}
					{{/if}}
					{{#if user_modal.report}}
						{{> report}}
					{{/if}}
					{{#if user_modal.group}}
						{{> group}}
					{{/if}}
					{{#if user_modal.profile}}
						{{> user_profile}}
					{{/if}}
				</div>
				<div class="modal-footer">
			    	<input type="button" class="btn btn-default" id="request-friendship-btn-close" data-dismiss="modal" value="{{mf 'close'}}" />
			        <input type="button" class="btn btn-primary" id="request-friendship-btn" value="{{mf 'send'}}" />
			    </div>
		    </div>
		</div>
	</div>	
</template>

<template name="send_email">
	<form action="submit" id="send-email-form">
		{{user_modal.action}}
		<label for="user-name">{{mf 'to' 'To'}}:</label><input type="text" class="form-control" placeholder="{{mf 'user'}}" name="user-name" value="{{user_modal.name}}" id="{{user_modal._id}}">
		<label for="modal-text">{{mf 'msg' 'Message'}}:</label>
		<textarea name="modal-text" id="send-email-msg" class="form-control" rows="10" placeholder="{{mf 'msg'}}"></textarea>
		<div class="alert alert-danger alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <strong>Warning!</strong> Better check yourself, you're not looking too good.
		</div>

	</form>
</template>
<template name="user_invite_request">
	<form action="submit" id="user-invite-request-form">
		<label for="user-name">{{mf 'user' 'User'}}:</label><input type="text" class="form-control" name="user-name" placeholder="{{mf 'user'}}" value="{{user_modal.name}}" id="{{user_modal._id}}">
		<div>
			<input type="radio" name="request-friendship-radio" id="request-friendship-check-friend">
			<label for="request-friendship-check-friend">{{mf 'friend' 'Friend'}}</label>
			<input type="radio" name="request-friendship-radio" id="request-friendship-check-contact">
			<label for="request-friendship-check-contact">{{mf 'contact' 'contact'}}</label>
			<input type="checkbox" name="request-friendship-check" id="request-friendship-check-teacher">
			<label for="request-friendship-check-teacher">{{mf 'teacher' 'Teacehr'}}</label>
			<input type="checkbox" name="request-friendship-check" id="request-friendship-check-student">
			<label for="request-friendship-check-student">{{mf 'student' 'Student'}}</label>
		</div>
		<label for="modal-text">{{mf 'message' 'Message'}}:</label>
		<textarea name="modal-text" id="user-modal-msg" class="form-control" rows="10" placeholder="{{mf 'reason'}}"></textarea>
		<div class="alert alert-danger alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <strong>Warning!</strong> Better check yourself, you're not looking too good.
		</div>

	</form>
</template>
<template name="group">
	
</template>
<template name="report">
	<form action="submit" id="send-email-form">
		<label for="user-name">{{mf 'report' 'Report'}}:</label><input type="text" class="form-control" name="user-name" placeholder="{{mf 'user'}}" value="{{user_modal.name}}" id="{{user_modal._id}}">
		<label for="modal-text">{{mf 'reason' 'Reason'}}:</label>
		<textarea name="modal-text" id="user-modal-msg" class="form-control" rows="10" placeholder="{{mf 'reason'}}"></textarea>
	</form>
</template>