<template name="user">
  <div class='ui floating dropdown large button' id="user-dropdown">
    <i class="user icon {{#if user.status.online}}online{{else}}offline{{/if}}"></i>
    <a id="user" class=""  href="#">
      {{user.profile.name}}
      <span class="label">{{notifications.total}}</span>
    </a>
    <i class="dropdown icon"></i>
    <div class="menu" role="menu">
      <div class="item" role="presentation" >
        <a class="navigation" tabindex="-1" id="profile" href="#">{{mf 'profile' 'Profile'}}</a></div>
      <div class="item"  role="presentation" >
        <a class="navigation" tabindex="-1" id="email" href="#">
          {{mf 'email' 'Email'}}
          <span class="badge">{{notifications.newemails}}</span>
        </a>
      </div>
      <div class="item"  role="presentation" >
        <a class="navigation" tabindex="-1" href="#" id='notification'>{{mf 'notification' 'Notifications'}} <span class="badge">{{notifications.requests.total}}</span></a></div>
      <div class="divider"></div>
      <div class="item" role="presentation" >
        <a class="navigation" tabindex="-1" href="#" id="logoutButton">{{mf 'log_out' 'Log out'}}</a></div>
    </div>
  </div>
</template>


<template name="notification">
  <h4 class="friendship-request">
    {{mf 'friendship-request' 'User friendship request'}}
    ({{notifications.requests.friendship.length}}):
  </h4>
  {{#each notifications.requests.friendship}}
  <div class="friend-request">
    <label for="" class="username popup_this" id="{{user._id}}">
      {{this.user.profile.name}} {{this.user.profile.lastname}}:
    </label>
    {{#with this.user._id}}
    {{> popup}}
    {{/with}}
    <i class="acept ui icon check" id="{{this.request}}" data-request-type="{{this.type.type}}" data-request-id="{{this.request}}" title="{{mf 'acept' 'Acept'}}">
    </i>
    <i  class="deny ui icon remove red deny" id="{{this.request}}" data-request-type="{{this.type.type}}" data-request-id="{{this.request}}" title="{{mf 'deny' 'Deny'}}"></i>
  </div>
  {{/each}}
  <h4 class="participation-request">{{mf 'participation-request' 'Group participation request'}}({{notifications.requests.participation.length}}):</h4>
  {{#each notifications.requests.participation}}
  <div class="participation-request">
    <label for="" class="username" id="user._id">{{user.profile.name}} {{user.profile.lastname}}:</label>
    <span id="">{{group.message}}</span>
    <input type='button' class="acept btn btn-primary" id="{{group._id}}"  data-request-type="{{group.type}}" data-request-id="{{group._id}}" value="{{mf 'acept'}}" />
    <input type="button" class="deny btn btn-default" id="{{group._id}}" data-request-type="{{group.type}}" data-request-id="{{group._id}}" value="{{mf 'deny' }}" />
  </div>
  {{/each}}
  <h4 class="invatation-request">{{mf 'invitation-request' 'Group participation invitation request'}}({{notifications.requests.invitation.length}}):</h4>
  {{#each notifications.requests.invitation}}
  <div class="intation-request">
    <label for="" class="group">{{group.name}}:</label><span id="">{{request.message}} </span>
    <input type='button' class="acept btn btn-primary" id="{{request._id}}" value="{{mf 'acept'}}"/>
    <input type="button" class="deny btn btn-default" id="{{request._id}}" value="{{mf 'deny'}}" />
    <input type="text" value="{{request.type}}" class="request-type{{request._id}} hide"/>
  </div>
  {{/each}}
</template>

<template name="user_finder_modal">
  <div class="modal fade" id="user-finder-modal" tabindex="-1" role="dialog" aria-labelledby="user-finder-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="group-chat-finder-ModalLabel">{{mf 'find-user' 'Find user'}}</h4>
        </div>
        <div class="modal-body"><!--content here-->
          <div class="panel panel-default">
            <div clas="user-finder-tool panel panel-default">
              <form action="submit" class="user-finder " id="user-finder-form">
                <div class="">
                  <div class="form-user-finder">
                    <input type="text" class="form-control" placeholder="{{mf 'user-name' 'User name'}}" id="user-name-f" />
                  </div>
                </div>
              </form>
            </div>
            {{> user_finder}}
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" id="user-finder-btn-close" data-dismiss="modal" value="{{mf 'close'}}" />
          <input type="button" class="btn btn-primary" id="user-finder-btn" value="{{mf 'find'}}" />
        </div>
      </div>
    </div>
  </div>
</template>

<template name="user_finder">
  <div class="users-found panel panel-default">
    {{#each user_found}}
    <div class="user-found panel panel-defaul" id="{{_id}}">
      <div class="panel-heading">
        <h4 class="panel-title">{{profile.name}} {{profile.lastname}}
          <span class="btn-group-xs">
            <span class="send-request plus glyphicon glyphicon-plus btn btn-default" id="{{_id}}" title="{{mf 'invite-friendship' 'Sen a friendship request'}}"></span>
          </span>
        </h4>
        <!--Owner:<label id="owner._id"> {{owner.profile.name}} </label>-->
      </div>
      <div class="panel-body">
        <div class="user panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle-to="panel-group" data-toggle="collapse" data-parent="#accordion" href="#">{{mf 'details' 'Details'}}:</a>
            </h4>
          </div>
          <div class="panel-collapse collapse out" id="panel-group">
            <div class="panel panel-info">
              <div class="panel-heading"> {{mf 'user-info' 'User basic info'}}:</div>
              <div class="panel-body">
                <div class="col-xs-6 col-md-3">
                  <a href="#" class="thumbnail">
                    <img data-src="holder.js/300x200" alt="">
                  </a>
                </div>
                <div>
                  <a href="www.google.com.br/#q={{user_modal.user.city}}">{{user.city}}</a>, <a href="www.google.com.br/#q={{user.country}}">{{user.country}}</a>

                  <label for="birthday">{{mf 'birthday' 'Birthday'}}:</label> <span>{{user.birthday}}</span>
                </div>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading"> {{mf 'user-languages' 'User languages info'}}:</div>
              <div class="panel-body">
                <label for="know">{{mf 'know' 'Know'}}:</label>
                <div class="know">
                  <div><a href="www.google.com.br/#q={{user.nativelang}}">{{user.nativelang}}</a></div>
                </div>
                <label for="learning">{{mf 'learning' 'Learning'}}:</label>
                <div class="learning">
                  {{#each user.learninglanguages}}
                  <div><a href="www.google.com.br/#q={{lang}}">{{lang}}</a></div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>


<template name="request_friendship">
  <div id="request-friendship-modal" class="modal fade modal-request-friendship" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="group-chat-finder-ModalLabel">{{mf 'add-user' 'Add contact'}}</h4>
      </div>
      <div class="modal-content">
        <form action="submit" id="request-friendship-form">
          <textarea name="request-friendship" id="request-friendship-msg" class="form-control" rows="10" placeholder="{{mf 'msg' 'Message'}}"></textarea>
          <div>
            <input type="radio" name="request-friendship-radio" id="request-friendship-check-friend">
            <label for="request-friendship-check-friend">{{mf 'friend' 'Friend'}}</label>
            <input type="radio" name="request-friendship-radio" id="request-friendship-check-contact">
            <label for="request-friendship-check-contact">{{mf 'contact' 'contact'}}</label>
            <input type="checkbox" name="request-friendship-check" id="request-friendship-check-teacher">
            <label for="request-friendship-check-teacher">{{mf 'teacher' 'Teacher'}}</label>
            <input type="checkbox" name="request-friendship-check" id="request-friendship-check-student">
            <label for="request-friendship-check-student">{{mf 'student' 'Student'}}</label>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-default" id="request-friendship-btn-close" data-dismiss="modal" value="{{mf 'close'}}" />
        <input type="button" class="btn btn-primary" id="request-friendship-btn" value="{{mf 'send'}}" />
      </div>
    </div>
  </div>
</template>
<template name="user_modal">
  <div id="user-modal" class="modal fade in modal-user" tabindex="-1" role="dialog" aria-labelledby="user-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content container">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="user-ModalLabel">{{user_modal.action}}</h4>
        </div>
        <div class="modal-body">
          {{#if user_modal.add}}
          {{> user_invite_request}}
          {{/if}}
          {{#if user_modal.send_email}}
          {{> send_email}}
          {{/if}}
          {{#if user_modal.report}}
          {{> report}}
          {{/if}}
          {{#if user_modal.group}}
          {{> group}}
          {{/if}}
          {{#if user_modal.profile}}
          {{#if user_modal.modalActive}}
          {{#if user_modal.currentUser}}
          {{> user_managenment}}
          {{/if}}
          {{/if}}
          {{#if user_modal.info}}
          {{> user_profile}}
          {{/if}}
          {{#if user_modal.security}}
          {{> user_security}}
          {{/if}}
          {{#if user_modal.friends}}
          {{> user_friends}}
          {{/if}}
          {{/if}}
          {{#if user_modal.reset}}
          {{> reset}}
          {{/if}}
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" id="request-friendship-btn-close" data-dismiss="modal" value="{{mf 'close'}}" />
          {{#if user_modal.info}}
          {{#if user_modal.edit_profile}}
          <input type="button" class="btn btn-primary" id="user_modal-btn" value="{{mf 'save' 'Save'}}" />
          {{/if}}
          {{else}}
          <input type="button" class="btn btn-primary" id="user_modal-btn" value="{{mf 'send'}}" />
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
<template name="user_managenment">
  <ul class="nav nav-tabs nav-justified" id="profile-navbar">
    <li id="" class="active"><a href="#" class="profile-navbar" id="info">{{mf 'info' 'Info'}}</a></li>
    <li id=""><a href="#" class="profile-navbar" id="security">{{mf 'security' 'Security'}}</a></li>
    <li id=""><a href="#" class="profile-navbar" id="friends">{{mf 'friends' 'Friends'}}</a></li>
  </ul>
</template>
<!-- <template name="send_email">
     <form action="submit" id="send-email-form">
       <label for="user-name">{{mf 'to' 'To'}}:</label><input type="text" class="form-control emailto" placeholder="{{mf 'user'}}" name="user-name" value="{{user_modal.name}}" id="{{user_modal._id}}">
       <label for="modal-text">{{mf 'msg' 'Message'}}:</label>
       <textarea name="modal-text" id="send-email-msg" class="form-control" rows="10" placeholder="{{mf 'msg'}}"></textarea>
       <div class="alert alert-danger alert-dismissable">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         <strong>Warning!</strong> Better check yourself, you're not looking too good.
       </div>

     </form>
</template> -->
<template name="user_invite_request">
  <form action="submit" id="user-invite-request-form">
    <label for="user-name">{{mf 'user' 'User'}}:</label><input type="text" class="form-control" name="user-name" placeholder="{{mf 'user'}}" value="{{user_modal.user.name}} {{user_modal.user.lastname}}" id="{{user_modal._id}}">
    <div>
      <input type="radio" name="request-friendship-radio" id="request-friendship-check-friend" class="user-form">
      <label for="request-friendship-check-friend">{{mf 'friend' 'Friend'}}</label>
      <input type="radio" name="request-friendship-radio" id="request-friendship-check-contact" class="user-form">
      <label for="request-friendship-check-contact">{{mf 'contact' 'contact'}}</label>
      <input type="checkbox" name="request-friendship-check" id="request-friendship-check-teacher" class="user-form">
      <label for="request-friendship-check-teacher">{{mf 'teacher' 'Teacher'}}</label>
      <input type="checkbox" name="request-friendship-check" id="request-friendship-check-student" class="user-form">
      <label for="request-friendship-check-student">{{mf 'student' 'Student'}}</label>
    </div>
    <label for="modal-text">{{mf 'message' 'Message'}}:</label>
    <textarea name="modal-text" id="user-modal-msg" class="form-control" rows="10" placeholder="{{mf 'reason'}}"></textarea>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>

  </form>
</template>
<template name="group">
  <div class="panel panel-info">
    <div class="panel-heading">{{mf 'groups' 'Groups'}}</div>
    <div class="panel-body list-group">
      {{#each group_rooms}}
      {{#if mod}}
      <div class="list-group-item">
        <span class="btn-group-xs">
          <span id="{{_id}}" class="plus glyphicon glyphicon-plus btn btn-default" title="{{mf 'invite_to_group' 'Invite the user for this group'}}"></span>
        </span>
        <span class="group" id="{{_id}}">{{name}}</span>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>

</template>
<template name="report">
  <form action="submit" id="report-user-form">
    <label for="user-name">{{mf 'report' 'Report'}}:</label><input type="text" class="form-control report-user" name="user-name" placeholder="{{mf 'user'}}" value="{{user_modal.name}}" id="{{user_modal._id}}">
    <label for="modal-text">{{mf 'reason' 'Reason'}}:</label>
    <textarea name="modal-text" id="user-modal-msg" class="form-control" rows="10" placeholder="{{mf 'reason'}}"></textarea>
  </form>
</template>
<template name="user_profile">
  <div class="panel panel-info">
    <div class="ui dividing header"> {{mf 'user-languages' 'Languages Info'}}:</div>
    <div class="panel-body">
      <label for="know">{{mf 'know' 'Know'}}:</label>
      <div class="know">
        <div>
          <a href='www.google.com.br/#q={{this.profile.nativelang}}' target='_blank'>
            {{this.profile.nativelang}}
          </a>
          ({{mf 'native' 'Native'}})
        </div>
        {{#each this.profile.knownlanguages}}
        <div>
          <a href="www.google.com.br/#q={{this}}" target="blank">
            {{this}}
          </a>
          ({{mf 'fluent' 'Fluent'}})
        </div>
        {{/each}}
      </div>
      <label for="learning">{{mf 'learning' 'Learning'}}:</label>
      <div class="learning">
        {{#each this.profile.learninglanguages}}
        <div><a href="www.google.com.br/#q={{this}}">{{this}}</a></div>
        {{/each}}
      </div>
    </div>
  </div>
  {{#if this.profile.iterests}}
  <div class="panel panel-info interests">
    <div class="ui dividing header">{{mf 'interests' 'Interests'}}</div>
    <div class="panel-body">
      {{#each this.profile.interests}}
      <span>{{this}}, </span>
      {{/each}}
    </div>
  </div>
  {{/if}}
  {{#if this.profile.description}}
  <div class="panel panel-info">
    <div class="ui dividing header"> {{mf 'user-description' 'User description'}}:</div>
    <div class="panel-body">
      {{this.profile.description}}
    </div>
  </div>
  {{/if}}
</template>
<template name="user_profile_edit">
  {{#with user_modal}}
  <form id="edit-profile">
    <div class="panel panel-info">
      <div class="panel-heading"> {{mf 'user-info' 'User basic info'}}:</div>
      <div class="panel-body">
        <div class="col-xs-6 col-md-3">
          <a href="#" id="change_pic" class="thumbnail">
            <img data-src="holder.js/300x200" alt="">
          </a>
        </div>
        <div>
          <label for="city">{{mf 'city' 'City'}}:</label><input id="city" value="{{this.user.city}}" class="form-control">
          <label for="country">{{mf 'country' 'Country'}}:</label><input id="country" value="{{this.user.country}}" class="form-control">

          <label for="birthday">{{mf 'birthday' 'Birthday'}}:</label> <input type="date" id="birthday" value="{{this.user.birthday}}" class="form-control">
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading"> {{mf 'user-languages' 'User languages info'}}:</div>
      <div class="panel-body">
        <div class="know">
          <select name="native" class="native">
            <option value="0">{{mf 'select' 'Select One'}}</option>
            {{#each langs_selected.native}}
            <option value="{{this.lang}}" selected="{{#if this.native}}selected{{/if}}">{{this.lang}}</option>
            {{/each}}
          </select>

          <div class="form-group" id="knownlanguages">
            <label for="knowlanguage">{{mf 'know-language' "I'm fluent in"}}: </label>
            <span class="btn-group-xs">
              <span id="add-more-knownlanguages" class="plus glyphicon glyphicon-plus btn btn-default" title="{{mf 'add-more-languages' 'Add more lnaguages'}}"></span>
            </span>
            {{#each langs_selected.fluent}}
            <br />
            <select name="knowlanguage" class="knownlanguage">
              <option value="0">{{mf 'select' 'Select One'}}</option>
              {{#each this.fluent}}
              <option value="{{lang}}" selected="{{#if fluent}}selected{{/if}}">{{lang}}</option>
              {{/each}}
            </select>
            {{#if this.removable}}
            <button class="remove glyphicon glyphicon-minus" title="Remove this lang entry"></button>
            {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="form-group" id="learninglanguages">
          <label for="learning">{{mf 'learning-languages' "I'm learning"}}: </label>
          <span class="btn-group-xs">
            <span id="add-more-learning" class="plus glyphicon glyphicon-plus btn btn-default" title="{{mf 'add-more-languages' 'Add more lnaguages'}}"></span>
          </span>
          {{#each langs_selected.learning}}
          <br />
          <select name="learninglanguage" class="learninglanguage">
            <option value="0">{{mf 'select' 'Select One'}}</option>
            {{#each this.learning}}
            <option value="{{lang}}" selected="{{#if learning}}seleceted{{/if}}">{{lang}}</option>
            {{/each}}
          </select>
          {{#if this.removable}}
          <button class="remove glyphicon glyphicon-minus" title="Remove this lang entry"></button>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading"> {{mf 'user-description' 'User description'}}:</div>
      <div class="panel-body">
        <textarea class="user-description form-control" rows="10" placeholder="Tell us about yourself." id="description">{{this.user.description}}</textarea>
      </div>
    </div>
  </form>
  {{/with}}
</template>
<template name="user_friends">
  <div>
    {{#each user_modal.user.friends}}
    <div>
      <a href="#" class="username stusername">{{name}} {{lastname}}</a>
      <div class="langs">
        <a href="#" id="native">{{native}}</a>
        {{#each knownlangs}}
        <a href="#" class="known">{{this}}</a>
        {{/each}}
        {{#each learninglangs}}
        <a href="#" class="learning">{{this}}</a>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</template>
<template name="user_security">

</template>
<template name="reset">
  {{#with user_modal}}
  <form id='reset-passwd'>
    <div class='panel panel-info'>
      <div class='panel-heading'> {{mf 'reset-passwd' 'Reset my password'}}:</div>
      <div class='panel-body'>
        <label for='email'>{{mf 'email-info' 'Enter your account email'}}:</label>
        <input type='text' name='email' class='form-control'/>
      </div>
    </div>
  </form>
  {{/with}}
</template>
<template name="additional_info">

</template>

<template name="user_contextmenu">
  <div id="user_contextmenu">
    <ul class="dropdown-menu" role="menu">
      <li><a tabindex="-1" href="#" id="profile">Profile</a></li>
      <li><a tabindex="-1" href="#" id="email">Email</a></li>
      <li><a tabindex="-1" href="#" id="group">Group</a></li>
      <li><a tabindex="-1" href="#" id="contact">Add to contact</a></li>
      <li><a tabindex="-1" href="#" id="remove">Remove</a></li>
      <li><a tabindex="-1" href="#" id="report">Report</a></li>
      <li><a tabindex="-1" href="#" id="block">Block</a></li>
      <li><a tabindex="-1" href="#" id="unblock">Unblock</a></li>
    </ul>
  </div>
</template>
